body {
  font-family: Helvetica;
  font-size: 1.2rem;
  color: #282828;
}

h1 {
  font-family: Helvetica;
  font-size: 2.5rem;
  color: #800200;
}

.quizbutton {
  transition-duration: 0.2s;
  padding: 12px 22px;
  text-align: center;
  display: inline-block;
}

.quizbutton:hover {
  background-color: #008CBA;
  color: white;
  font-size: 13px;
  font-family: Helvetica;
}
