{% extends "layout.html" %}

{% block title %}
  {{ app_name }} | Quiz
{% endblock title %}

  <!-- TODO: Dynamically serve one question at a time, must contain:
    Questions cannot be skipped ahead, must be answered in sequence.
    Prevent quiz reset unless user finishes or returns to homepage.-->
    
  <!--TODO: Selected answer is sent via POST and the pages moves on
    to the next question automatically.-->
    
  <!-- TODO: If page is refreshed during the quiz, resume at current question. -->
  
  <!--TODO: The question has to be based on the counter, answers are in a for loop  -->

{% block content %}
  {% for q in questions %}
    <br>
    {{ q.question_text }}
  <form method="POST" action="/quiz">
    <br>
      {% for a in answers[loop.index0] %}
      <!-- Probably need an IF statement that counts current
      index and will set 'name' to keep buttons in same question -->
      <input type="radio" id="answer{{loop.index}}" name="answer" value={{ a }}>
        <label for="answer{{loop.index}}">{{ a }}</label><br>
      {% endfor %}
    <br>
    <input type="submit" value="Submit Answer">
  </form>
  {% endfor %}
{% endblock content %}
