{% extends "layout.html" %}

{% block title %}
  {{ app_name }} | Quiz
{% endblock title %}

  <!-- TODO: Dynamically serve one question at a time, must contain:
    Current question, form with 4 radio buttons for answers, submit button.
    Questions cannot be skipped ahead, must be answered in sequence.
    Prevent quiz reset unless user finishes or returns to homepage.-->
    
  <!--TODO: Selected answer is sent via POST and the pages moves on
    to the next question automatically.-->
    
  <!-- TODO: If page is refreshed during the quiz, resume at current question. -->
  
  <!--TODO: The question has to be based on the counter, answers are in a for loop  -->

{% block content %}
<h1>{{ app_name }} Questions:</h1>
  <ul>
  {% for q in questions %}
    <li>
      {{ q.question }}
    </li>
  {% endfor %}
  </ul>
<form>
  <p>Answers for question:</p>
  {% for a in answers %}
  <!-- Need a way to loop through numbers for answers (if needed) -->
  <input type="radio" id="1" name="answer" value="{{ answers|length }}">
  <label for="1">{{ a.answer }}</label>
  <br>
  {% endfor %}
  <br>
  <br>
  <input type="submit" value="Submit Answer">
</form>
{% endblock content %}
