{% extends "layout.html" %}

{% block title %}
  {{ title }} | Catch and Track Issues
{% endblock title%}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Trapper</h1>
  <a href="/report">
    <button class="issuebutton"><b>➕ New Issue</b></button>
  </a>
  <br>
  <br>
    <h2>Your Current Issues</h2>
    {% if issues|length == 0 %}
      No current issues assigned.
      <br>
    {% else %}
        <!-- TODO: Implement View of Title, priority, status 
            Add 'View' and 'Resolve' actions for each entry-->
        {% for issue in issues %}
            <a href="/issues/{{ issue.id }}">
              ISS00{{loop.index}} - {{ issue.title }}
            </a>
            <br>
        {% endfor %}
        <br>
    {% endif %}
</div>
{% endblock content %}
