{% extends "layout.html" %}

{% block title %}
  {{ title }} | ISS00{{ issue.id }} - Details
{% endblock title%}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">ISS00{{ issue.id }} - {{ issue.title }}</h1>
    <br>
      <b>Status:</b> {{ issue.status | capitalize }} 
    <br>
    <br>
      <b>Priority:</b> {{ issue.priority | capitalize }}
    <br>
    <br>
      <b>Description:</b>
        <br>
      {{ issue.description }}
    <br>
  <br>
  {% if issue.status == "resolved" %}
  {% else %}
    <form action="/issues/{{ issue.id }}/resolve" method=post>
      <label for="issue_status"></label>
      <input type="hidden" id="issue_status" name="issue_status" value="resolved">
      <button type="submit" name="submit"><b>Mark as Resolved</b></button>
    </form>
  {% endif %}
</div>
{% endblock content %}
