{% extends "layout.html" %}

{% block title %}
  {{ title }} | Create New Issue
{% endblock title%}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Create New Issue</h1>
  <br>
    <form action="/report" method="post">
      <label for="title">Issue Title:</label>
      <input type="text" id="title" name="title" required>
      <br>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" required>
      <br>
      <label for="priority">Priority (Low, Medium, High):</label>
      <select id="priority" name="priority" required>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <br>
      <label for="user_id">Assign to:</label>
      <input type="text" id="user_id" name="user_id" required>
      <br>
      <button type="submit"><b>Create New Issue</b></button>
    </form>
  <br>
</div>
{% endblock content %}
